#
# Rename to triplifiersettings.props
#

# specifications for reading various RDF files:
# cName: URI of how Classes are referred to
# cProperty: URI of Class designation property (usually just rdf:type)
# cSubClass: URI of subClass Predicate
# pName: URI of Property Name
# pSubProperty: URI of subProperty Predicate
# domain: URI of domain property
# range: URI of range property
RDFspec = {"cName":"http://www.w3.org/2000/01/rdf-schema#Class","cProperty":"http://www.w3.org/1999/02/22-rdf-syntax-ns#type","cSubClass":"http://www.w3.org/2000/01/rdf-schema#subClassOf","pName":"http://www.w3.org/1999/02/22-rdf-syntax-ns#Property","pSubProperty":"http://www.w3.org/2000/01/rdf-schema#subPropertyOf"}
OWLspec = {"cName":"http://www.w3.org/2002/07/owl#Class","cProperty":"http://www.w3.org/1999/02/22-rdf-syntax-ns#type","cSubClass":"http://www.w3.org/2000/01/rdf-schema#subClassOf","pName":"http://www.w3.org/2002/07/owl#ObjectProperty","pSubProperty":"http://www.w3.org/2000/01/rdf-schema#subPropertyOf","domain":"http://www.w3.org/2000/01/rdf-schema#domain","range":"http://www.w3.org/2000/01/rdf-schema#range"}

# built-in vocabularies provided in Triplifier
# pair of fileName and vocabulary settings property
# each file must exist in vocabularies folder
# each property must exist in this file
vocabularies = {"dwcterms.rdf":"dwcVocabulary","dsw.owl":"dswVocabulary","txn.owl":"txnVocabulary"}

# settings used to read vocabulary files
dwcVocabulary = {"displayName":"Darwin Core","spec":"RDFspec","subClasses":"false","subProperties":"true"}
dswVocabulary = {"displayName":"Darwin-SW","spec":"OWLspec","subClasses":"true","subProperties":"false"}
txnVocabulary = {"displayName":"Taxon Concept","spec":"OWLspec","subClasses":"false","subProperties":"true"}
# default settings for reading user vocabularies
defaultVocabulary = {"spec":"OWLspec","subClasses":"true","subProperties":"false"}
defaultURI = urn:x-biscicol:

# BCID; EZID creation default account
eziduser = apitest
ezidpass = somepasswordhere